
<div class="container">
  <div class="profile-container">
    <h3>  Your profile coresponds to the profile of <%= @my_mbti.name %></h3>
  </div>
  <div class="personality-results">
    <div class="personality-trait", id="chart">
      <h3>Openeness <%= @openeness %> %</h3>
    </div>
    <div class="personality-trait">
      <h3>Conscientiousness <%= @conscientiousness %> %</h3>
    </div>
    <div class="personality-trait">
      <h3>Extraversion <%= @extraversion %> %</h3>
    </div>
    <div class="personality-trait">
      <h3>Agreeableness <%= @agreeableness %> %</h3>
    </div>
    <div class="personality-trait">
      <h3>Emotional range <%= @emotional_range %> %</h3>
    </div>
  </div>
  <div class="avatar-container">
    <p><%= @my_mbti.explanation %></p>
  </div>
  <div class="match-container">
    <p><strong>Categories that match your profile:</strong></p>
  </div>
  <div class="category-container">
    <% @my_mbti.categories.each do |category| %>
      <div class="category-card">
        <%= link_to category.name, mbti_category_path(@mbti_id, category) %>
      </div>
    <% end %>
  </div>
</div>
