<div class="body-index-program">
  <div class="index-program-left">
    <h2>What are you looking for ?</h2>
    <div>
      <%= simple_form_for @program, method: :get, url: programs_path do |f| %>
        <%= f.input :name, input_html: {value: @name } %>
        <%= f.label :price, name: "Price", id: "program_price_label", label: "Price: 0/100,000" %>
        <%= range_field :program, :price, in: 0..100000, value: 0, class: "price-value-slider" %>
        <%= f.association :category,   prompt: "Select category" , selected: @category.class == Array ? nil : @category  %>
        <%= f.input :duration, collection: @all_duration, prompt: "Select duration" , selected: @input_duration.include?(140) ? nil : "#{@input_duration.last} months"   %>
        <%= f.input :level, collection: @levels, prompt: "Select level", selected: @input_level.size == 1 ? @input_level : nil %>
        <%= f.simple_fields_for University.new do |uf| %>
        <%= uf.association :location,
                      as: :select,
                      label_method: :city_and_country,
                      value_method: :id,
                      input_html: {value: @location_id } %>
          <% end %>
          <%= f.submit "Search", value: "search", class: "btn-home-form" %>
      <% end %>
    </div>
  </div>
  <div class="index-program-right">
    <h2>The programs</h2>
    <div class="cards-index">
      <% @programs.each do |program| %>
        <div class="card-product height-card">
  <!--           <img src="https://images.unsplash.com/20/cambridge.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1630&q=80" />-->
            <%= link_to program_favorites_path(program), method: :post do %>
              <span class="change-icon-programs change-icon">
                  <i class="far fa-heart"></i>
                  <i class="fas fa-heart"></i>
              </span>
            <% end %>


            <div class="card-product-infos">
              <div class="card-product-img" style="background-image: url('<%= cl_image_path program.university.photo %>')"></div>
              <div class="card-product-right">
                <h2><%= link_to program.name, program_path(program) %></h2>
                <h3><%= program.university.name %></h3>

                <p><strong>Duration: </strong><%= (program.duration) %> months</p>
                <p><strong>Price: </strong>€ <%= program.price %></p>

                <p><%= program.description[0..440]%></p>
                <p><strong><%= link_to 'Read more', program_path(program) %></strong></p>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


