<div class="university-body">
  <h1><%= @program.university.name %></h1>
  <div class="university-image" style="background-image: url('<%= cl_image_path @program.university.photo %>')">
    <%= link_to program_favorites_path(@program), method: :post do %>
      <span class="change-icon">
        <i class="far fa-heart"></i>
        <i class="fas fa-heart"></i>
      </span>
    <% end %>
  </div>
  <div class="tab">
    <div class="tab-left">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link show active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
          <a class="nav-item nav-link" id="nav-requirements-tab" data-toggle="tab" href="#nav-requirements" role="tab" aria-controls="nav-requirements" aria-selected="false">Entry Requirements</a>
          <a class="nav-item nav-link <%= 'show active' if @show_reviews %>" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="university-description">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade  <%= 'show active' unless @show_reviews %>" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
        <div class="container-show">
          <div class="container-description">
            <div class="program-title">
              <h2><%= @program.name %></h2>
            </div>
            <div class="program-icons">
              <div class="icons">
                <i class="fas fa-euro-sign"></i><p><span class="title-bold"></span><%= @program.price %></p>
              </div>
              <div class="icons">
                <i class="fas fa-calendar-alt"></i><p><span class="title-bold"></span><%= @program.duration %> months</p>
              </div>
              <div class="icons">
                <i class="fas fa-globe"></i></i><p><span class="title-bold"></span><%= @program.language %></p>
              </div>
            </div>
            <p><%= @program.description %></p>
          </div>
          <div class="container-map">
            <div class="position-icon">
              <div class="icons">
                <i class="fas fa-map-marker-alt"></i><p><span class="title-bold"></span><%= @program.university.location.city_and_country %></p>
              </div>
            </div>
            <div
              id="map"
              style="width: 100%;
              height: 400px;"
              data-markers="<%= @marker.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-requirements" role="tabpanel" aria-labelledby="nav-requirements-tab">
          <h2>NO INFO AVAILABLE AT THE MOMENT</h2>
        <!--   <i class="fas fa-euro-sign"></i><p><span class="title-bold">Price: </span><%= @program.price %></p>
          <p><span class="title-bold">Duration: </span><%= @program.duration %> months</p>
          <p><%= @program.description %></p> -->
      </div>

      <div class="tab-pane fade <%= 'show active' if @show_reviews %>" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
        <div class="university-reviews">
          <div class="tab-right">
              <% if !user_signed_in? %>
                <p>you have to login before reviewing</p>
                <%= link_to "Log in", new_user_session_path %>
             <% elsif policy(Review).new? %>
              <div class="btn btn-primary"><%= link_to "Add a review", new_program_review_path(@program) %></div>
            <% end %>
          </div>
          <% if @program.reviews.empty? %>
            <p id="no-review"> No reviews yet be the first </p>
          <% else %>
            <% @program.reviews.each do |review| %>
              <div class="review">
                <div class="image-right">
                  <img class="avatar-medium" src="<%= review.user.photo %>" alt="">
                </div>
                <h3><%= review.title %></h3>
                <p><span class="title-bold">Rating: </span><%= review.rating %></p>
                <p><%= review.content %></p>
                <% if current_user == review.user %>
                  <div class="btn btn-primary"><%= link_to "Edit", edit_program_review_path(@program, review) %></div>
                  <div class="btn btn-primary"><%= link_to "Delete", program_review_path(@program, review), method: :delete %></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
