<div class="university-body">
  <h1><%= @program.university.name %></h1>
  <div class="university-image">
    <span class="change-icon">
      <%= link_to program_favorites_path(@program), method: :post do %>
      <i class="far fa-heart"></i>
      <i class="fas fa-heart"></i>
      <% end %>
    </span>
  </div>

  <div class="tab">
    <div class="tab-left">
      <ul>
        <li><%= link_to 'Description', program_path(@program) %></li>
        <li><%= link_to 'Reviews', program_reviews_path(@program) %></li>
      </ul>
    </div>
    <div class="tab-right">
        <% if !user_signed_in? %>
          <p>you have to login before reviewing</p>
          <%= link_to "Log in", new_user_session_path %>
       <% elsif policy(Review).new? %>
        <div class="btn"><%= link_to "Add a review", new_program_review_path(@program) %></div>
      <% end %>
    </div>
  </div>

  <div class="university-description">
    <h2><%= @program.name %></h2>
    <p><span class="title-bold">Price: </span><%= @program.price %></p>
    <p><span class="title-bold">Duration: </span><%= @program.duration %> months</p>
    <p><%= @program.description + @program.description + @program.description + @program.description %></p>
  </div>
</div>
