<div class="university-body">
  <h1><%= @program.university.name %></h1>
  <div class="university-image" style="background-image: url('<%= cl_image_path @program.university.photo %>')">
    <%= link_to program_favorites_path(@program), method: :post do %>
      <span class="change-icon">
        <i class="far fa-heart"></i>
        <i class="fas fa-heart"></i>
      </span>
    <% end %>
  </div>

  <div class="tab">
    <div class="tab-left">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link <%= 'show active' unless @show_reviews %>" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
          <a class="nav-item nav-link <%= 'show active' if @show_reviews %>" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
        </div>
      </nav>
    </div>

    <div class="tab-right">
        <% if !user_signed_in? %>
          <p>you have to login before reviewing</p>
          <div class="btn"><%= link_to "Log in", new_user_session_path %></div>
       <% elsif policy(Review).new? %>
        <div class="btn"><%= link_to "Add a review", new_program_review_path(@program) %></div>
      <% end %>
    </div>
  </div>

  <div class="university-description">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade <%= 'show active' unless @show_reviews %>" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <h2><%= @program.name %></h2>
          <p><span class="title-bold">Price: </span><%= @program.price %></p>
          <p><span class="title-bold">Duration: </span><%= @program.duration %> months</p>
          <p><%= @program.description + @program.description + @program.description + @program.description %></p>

      </div>
      <div class="tab-pane fade <%= 'show active' if @show_reviews %>" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="university-reviews">
          <% if @program.reviews.empty? %>
            <p id="no-review"> No reviews yet be the first </p>
          <% else %>
            <% @program.reviews.each do |review| %>
              <div class="review">
                <h3><%= review.title %></h3>
                <p><span class="title-bold">Rating: </span><%= review.rating %></p>
                <p><%= review.content %></p>
                <% if current_user == review.user %>
                  <div class="btn"><%= link_to "Edit your review", edit_program_review_path(@program, review) %></div>
                  <div class="btn btn-danger"><%= link_to "Delete your review", program_review_path(@program, review), method: :delete %></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
