<div class="navbar-minimalist">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <i class="fas fa-graduation-cap"></i>
    <% end %>
  </div>
  <div class="navbar-right">
    <ul>
      <% if !user_signed_in? %>
        <%= link_to new_user_session_path do %>
        <li><i class="far fa-heart"></i></li>
        <li class="green-btn"><%= link_to 'Login', new_user_session_path%></li>
        <% end %>
          <%#= link_to "Log in", new_user_session_path %>
       <% elsif policy(Favorite).create? %>
        <%= link_to favorites_path do %>
        <li><i class="far fa-heart"></i></li>
        <% end %>
         <!-- avatar -->
         <li class="nav-item dropdown">
           <!-- cl_image_tag current_user.photo -->
          <%= cl_image_tag current_user.photo , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

        <% else %>
        <!-- avatar -->
        <li class="nav-item dropdown">
          <!-- cl_image_tag current_user.photo -->
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "My profile", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
