<div class="banner">
  <img src="<%= image_path("hat.png")%>" class="hat" />
  <div class="container">
    <h1>Choose the right program for your future!</h1>
    <p>Thanks to our IBM-powered Watson personality test</p>
    <div><%= link_to "Take the test", description_path, class: "red-button" %></div>
  </div>
  <div class="arrow-down">
    <a data-scroll href="#concept">
      <div class="arrow"></div>
    </a>
  </div>
</div>

<div class="body-home">
  <div class="concept" id="concept">
    <!-- <h2>Our concept</h2>
    <div class="line-title"></div> -->

    <div class="concept-line"></div>
    <div class="bulles">
      <div class="bulle">
        <div class="round">
          <%= image_tag("checklist.png", size: 70)  %>
        </div>
        <div class="concept-test">
          <h3>YOU</h3>
          <p>Take our personality test</p>
        </div>
      </div>
      <div class="bulle">
        <div class="round">
          <%= image_tag("research.png", size: 70)  %>
        </div>
        <div class="concept-test">
          <h3>WE</h3>
          <p>Analyse and give you the programs that suit you best</p>
        </div>
      </div>
      <div class="bulle">
        <div class="round">
          <%= image_tag("filter.png", size: 60)  %>
        </div>
        <div class="concept-test">
          <h3>YOU</h3>
          <p>Explore and refine the results</p>
        </div>
      </div>
    </div>
    <div class="concept-button"><%= link_to "Take the test", description_path, class: "red-button" %></div>

  </div>



  <div class="home-form" id="search">
    <h2>Search the right program</h2>
    <div class="line-title"></div>
<%= simple_form_for @program, method: :get, url: programs_path do |f| %>
  <div class="input-col">
    <%= f.association :category, required: false %>
    <%= f.input :name, required: false, label: "Program title" %>
  </div>
  <div class="input-col">
    <%= f.simple_fields_for University.new do |uf| %>
    <%= uf.association :location,
                  as: :select,
                  required: false,
                  label_method: :city_and_country,
                  value_method: :id %>
    <% end %>
    <%= f.input :duration, collection: @duration %>
  </div>
  <div class="input-col">
    <%= f.input :level, collection: @levels %>
    <div class="form-group select optional program_level">
      <%= f.label :price, name: "Price", id: "program_price_label", label: "Price: 0/100,000" %>
      <%= range_field :program, :price, in: 0..100000, value: 0, class: "price-value-slider" %>
    </div>
  </div>
  <div class="button-form"><%= f.submit "Search", value: "Search", class: "btn-home-form" %>
<% end %>


</div>
<% if !user_signed_in? %>
<% elsif current_user.admin == true %>
  <%= link_to "Add a program", admin_universities_path(:admin) %>
<% else %>
<% end %>
</div>



