<div class="university-body">
  <h1><%= @program.university.name %></h1>
  <div class="university-image">
    <span class="change-icon">
      <i class="far fa-heart"></i>
      <i class="fas fa-heart"></i>
    </span>
  </div>

  <div class="tab">
    <div class="tab-left">
      <ul>
        <li><%= link_to 'Description', program_path(@program) %></li>
        <li><%= link_to 'Reviews', program_reviews_path(@program) %></li>
      </ul>
    </div>
    <div class="tab-right">
        <% if !user_signed_in? %>
          <p>you have to login before reviewing</p>
          <%= link_to "Log in", new_user_session_path %>
       <% elsif policy(Review).new? %>
        <div class="btn"><%= link_to "Add a review", new_program_review_path(@program) %></div>
      <% end %>
    </div>
  </div>
  <div class="university-reviews">
    <% if @reviews.empty? %>
      <p id="no-review"> No reviews yet be the first </p>
    <% else %>
      <% @reviews.each do |review| %>
        <div class="review">
          <h3><%= review.title %></h3>
          <p><span class="title-bold">Rating: </span><%= review.rating %></p>
          <p><%= review.content %></p>
        </div>
  <% if policy(review).edit? %>
        <%= link_to "Edit your review", edit_program_review_path(@program, review) %>
        <%= link_to "Delete your review", program_review_path(@program, review), method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>

 <!-- current_user == review.user -->
